<!DOCTYPE html>
<html>
<head>
  <title>Live One Month</title>
</head>
<body>

<!-- <h1>Welcome#index</h1> -->
<!-- <p>Find me in app/views/welcome/index.html.erb</p> -->

<div class="nav-wrap home">

  <nav class="navbar navbar-tyw navbar-fixed-top " role="navigation">
    <div style="padding: 15px; background: rgb(230, 126, 34); display: none; position: relative;" class="call-cta" id="blue-bar">
  <p class="text-center" style="color: #fff; max-width: 90%; margin: 0 auto;"><strong>SOLD OUT:</strong> Italy & Turkey - but don’t miss the boat. Browse <a href="/croatia?ref=orangebar">Croatia</a> or <a href="/greece?ref=orangebar">Greece</a> and call if you want personal assistance <span class="phone-no">+44 (0) 1389 656 005</span> <i style="position: absolute; right: 20px;" class="fa fa-times close-button" aria-hidden="true"></i></p>
</div>
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button class="navbar-toggle" data-target="#navbar-tyw-main" data-toggle="collapse"
                type="button">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="book-menu-btn visible-xs mobile-book" href="/yachts">
          BOOK
        </a>
        <div class="visible-xs mobile-lang-picker">
                      <div style="position:relative">
              <div aria-expanded="true" aria-haspopup="true"
                class="dropdown-toggle" data-toggle="dropdown">
                <img src="//assets.theyachtweek.com/assets/public/img/base/flags/lang_en.png" width="16" height="11"/>
                <span class="caret"></span>
              </div>
              <ul class="dropdown-menu" notranslate>
                <li><a href="/en/change">
                  <img src="//assets.theyachtweek.com/assets/public/img/base/flags/lang_en.png" width="16" height="11"/> &nbsp; English
                </a></li>
                <li><a href="/es/change"><img src="//assets.theyachtweek.com/assets/public/img/base/flags/flag_sp.png" width="16" height="11"/>&nbsp; Español</a></li>
                <li><a href="/pt/change"><img src="//assets.theyachtweek.com/assets/public/img/base/flags/lang_pt.png" width="16" height="11"/>&nbsp; Português</a></li>
                <li><a href="/de/change"><img src="//assets.theyachtweek.com/assets/public/img/base/flags/lang_de.png" width="16" height="11"/>&nbsp; Deutsch</a></li>
              </ul>
            </div>

        </div>
                  <a class="visible-xs mobile-login"  href="/account/login">
            <i class="fa fa-user"></i>
          </a>
                <a class="navbar-brand" href="/">
          <span>
            <img width="65" height="45" alt="The Yacht Week" class="navbar-logo"
                 src="/assets/public/img/base/logo/tyw_logo_b_small.png"/>
          </span>
        </a>

      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="navbar-tyw-main">
        <div class="btn-group navbar-right">
          <ul class="nav navbar-nav">
            <!-- Mobile menu items -->
            <li class="visible-xs">
              <a href="/how-it-works">How it Works</a>
            </li>
            <li class="visible-xs">
              <a href="/destinations">Destinations</a>
            </li>
            <li class="visible-xs">
              <a href="/yachts">Yachts</a>
            </li>
            <li class="visible-xs">
              <a href="/cabins">Cabins</a>
            </li>
            <li class="visible-xs">
              <a class="small-menu" href="/contact-us">Contact</a>
            </li>
            <li class="visible-xs">
              <a class="small-menu" target="_blank" href="https://www.facebook.com/theyachtweek/photos_stream?tab=photos_albums">Media</a>
            </li>
            <li class="visible-xs">
              <a class="small-menu" target="_blank" href="/the-yacht-master-sunglasses">Shop</a>
            </li>
            <li class="visible-xs">
              <a class="small-menu" target="_blank" href="http://support.theyachtweek.com/support/home">FAQ</a>
            </li>
            <!-- How it Works -->
            <li class="hidden-xs dropdown active">
              <!-- DISCOVER TAB -->
              <a class="dropdown-toggle" data-toggle="dropdown" href="/how-it-works">How it Works</a>
              <ul class="dropdown-menu">
                <li><a href="/how-it-works">How it Works</a></li>
                <li><a href="/our-skippers">Our Skippers</a></li>
                <li><a href="/our-hostesses">Our Hostesses</a></li>
                <li><a href="/the-story">10th Anniversary</a></li>
                <li><a href="/reviews">Reviews</a></li>
                <!--<li class="divider"></li>-->
                <!--<li><a href="/events">Launch Tour</a></li>-->
              </ul>
            </li>
            <!-- DESTINATIONS TAB -->
            <li class="hidden-xs dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="/destinations">Destinations</a>
              <ul class="dropdown-menu">
                <li><a href="/destinations">All Destinations</a></li>
                <li class="divider"></li>
                <!-- CROATIA -->
                <li class="dropdown-submenu">
                  <a href="/croatia" tabindex="-1">Croatia</a>
                  <!-- CROATIA Submenu -->
                  <ul class="dropdown-menu">
                    <li><a href="/croatia">Croatia</a></li>
                    <li><a href="/croatia/yachts">Yachts</a></li>
                    <li><a href="/cabins#croatia">Cabins</a></li>
                    <li><a href="/whats-included#croatia">What's Included</a></li>
                    <li><a href="/croatia/getting-there">Getting There</a></li>
                    <li><a href="/croatia/food-and-drinks">Food & Drinks</a></li>
                    <li><a href="/croatia/about-croatia">About</a></li>
                    <li><a href="http://support.theyachtweek.com/support/solutions/folders/5000257766">FAQ</a></li>
                  </ul>
                </li>
                <!-- GREECE -->
                <li class="dropdown-submenu">
                  <a href="/greece" tabindex="-1">Greece</a>
                  <!-- GREECE Submenu -->
                  <ul class="dropdown-menu">
                    <li><a href="/greece">Greece</a></li>
                    <li><a href="/greece/yachts">Yachts</a></li>
                    <li><a href="/cabins#greece">Cabins</a></li>
                    <li><a href="/whats-included#greece">What's Included</a></li>
                    <li><a href="/greece/getting-there">Getting There</a></li>
                    <li><a href="/greece/about-greece">About</a></li>
                    <li><a href="http://support.theyachtweek.com/support/solutions/folders/5000257870">FAQ</a></li>
                  </ul>
                </li>
                <!-- ITALY -->
                <li class="dropdown-submenu">
                  <a href="/italy" tabindex="-1">Italy</a>
                  <!-- ITALY Submenu -->
                  <ul class="dropdown-menu">
                    <li><a href="/italy">Italy</a></li>
                    <li><a href="/italy/yachts">Yachts</a></li>
                    <li><a href="/cabins#italy">Cabins</a></li>
                    <li><a href="/whats-included#italy">What's Included</a></li>
                    <li><a href="/italy/getting-there">Getting There</a></li>
                    <li><a href="/italy/about-italy">About</a></li>
                    <li><a href="http://support.theyachtweek.com/support/solutions/folders/5000257877">FAQ</a></li>
                  </ul>
                </li>
                <!-- TURKEY -->
                <li class="dropdown-submenu">
                  <a href="/turkey" tabindex="-1">Turkey</a>
                  <!-- TURKEY Submenu -->
                  <ul class="dropdown-menu">
                    <li><a href="/turkey">Turkey</a></li>
                    <li><a href="/turkey/yachts">Yachts</a></li>
                    <li><a href="/cabins#turkey">Cabins</a></li>
                    <li><a href="/whats-included#turkey">What's Included</a></li>
                    <li><a href="/turkey/getting-there">Getting There</a></li>
                    <li><a href="/turkey/food-packages">Food Packages</a></li>
                    <li><a href="/turkey/about-turkey">About</a></li>
                    <li><a href="http://support.theyachtweek.com/support/solutions/folders/5000258025">FAQ</a></li>
                  </ul>
                </li>
                <!-- BRITISH VIRGIN ISLANDS -->
                <li class="dropdown-submenu">
                  <a href="/british-virgin-islands" tabindex="-1">British Virgin Islands</a>
                  <!-- BVI Submenu -->
                  <ul class="dropdown-menu">
                    <li><a href="/british-virgin-islands">British Virgin Islands</a></li>
                    <li><a href="/british-virgin-islands/yachts">Yachts</a></li>
                    <li><a href="/cabins#british-virgin-islands">Cabins</a></li>
                    <li><a href="/whats-included#bvi">What's Included</a></li>
                    <li><a href="/british-virgin-islands/getting-there">Getting There</a></li>
                    <li><a href="/british-virgin-islands/about-bvi">About</a></li>
                    <li><a href="http://support.theyachtweek.com/support/solutions/folders/5000257878">FAQ</a></li>
                  </ul>
                </li>
                <!-- THAILAND -->
                <li class="dropdown-submenu">
                  <a href="/thailand" tabindex="-1">Thailand</a>
                  <!-- THAILAND Submenu -->
                  <ul class="dropdown-menu">
                    <li><a href="/thailand">Thailand</a></li>
                    <li><a href="/thailand/yachts">Yachts</a></li>
                    <li><a href="/cabins#thailand">Cabins</a></li>
                    <li><a href="/whats-included#thailand">What's Included</a></li>
                    <li><a href="/thailand/getting-there">Getting There</a></li>
                    <li><a href="/thailand/about-thailand">About</a></li>
                    <li><a href="http://support.theyachtweek.com/support/solutions/folders/5000257865">FAQ</a></li>
                  </ul>
                </li>
                <!-- ULTRA EUROPE -->
                <li class="dropdown-submenu">
                  <a href="/ultra" tabindex="-1">Ultra Europe Festival, Croatia</a>
                  <!-- ULTRA Submenu -->
                  <ul class="dropdown-menu ultra-drop">
                    <li><a href="/ultra">Ultra Europe Festival, Croatia</a></li>
                    <li><a href="/yachts?weeks%5B%5D=201629&amp;destinations%5B%5D=11&amp;skipper=1&amp;currency=EUR&amp;boys=0&amp;girls=0&amp;badRatio=1&amp;landing=2ultra">Yachts</a></li>
                    <li><a href="/whats-included#ultra">What's Included</a></li>
                    <li><a href="/croatia/getting-there">Getting There</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="hidden-xs dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="/contact-us">Contact</a>

              <ul class="dropdown-menu">
                <li><a href="/contact-us">Contact Us</a></li>
                <li><a href="/contact-us#team">The Team</a></li>
                <li><a href="/contact-us#info">About</a></li>
              </ul>
            </li>
            <li class="hidden-xs dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" target="_blank" href="https://www.facebook.com/theyachtweek/photos_stream?tab=photos_albums">Media</a>
              <ul class="dropdown-menu">
                <li><a href="/blog">Blog</a></li>
                <li><a href="/filmmakers">Filmmakers</a></li>
                <li><a target="_blank" href="https://www.facebook.com/theyachtweek/photos_stream?tab=photos_albums">Photos</a></li>
                <li><a href="/media/trailers">Trailers</a></li>
                <li><a href="/music-djs" tabindex="-1">Music &amp; DJs</a></li>
              </ul>
            </li>
            <li class="hidden-xs"><a class="nav-link" href="/the-yacht-master-sunglasses">Shop</a></li>
            <li class="hidden-xs"><a class="nav-link" href="http://support.theyachtweek.com/support/home">FAQ</a></li>
            <!-- Book -->
            <li class="hidden-xs dropdown book-menu-btn">
              <a class="dropdown-toggle book" data-toggle="dropdown" href="/yachts">Book</a>
              <ul class="dropdown-menu">
                <li><a href="/yachts">Yachts</a></li>
                <li><a href="/cabins">Cabins</a></li>
                <!--<li><a href="/additional-costs">Additional Costs</a></li>-->
                <!--<li><a href="/booking-payment">Booking &#038; Payment</a></li>-->
                <li><a href="/crew-finder">Crew Finder</a></li>
                <li><a href="/whats-included">What&#8217;s Included?</a></li>
                <li><a href="/booking-payment">Bookings & Payment</a></li>
              </ul>
            </li>
          </ul>
                      <ul class="hidden-xs nav navbar-nav login">
              <li>
                <a class="nav-link" href="/account/login">
                  <i class="fa fa-user"></i>
                </a>
              </li>
            </ul>
          

          <div class="dropdown nav navbar-nav hidden-xs" style="padding:20px 0 20px 10px;">
                        <div style="position:relative">
              <div aria-expanded="true" aria-haspopup="true"
                class="dropdown-toggle" data-toggle="dropdown">
                <img src="//assets.theyachtweek.com/assets/public/img/base/flags/lang_en.png" width="16" height="11"/>
                <span class="caret"></span>
              </div>
              <ul class="dropdown-menu" notranslate>
                <li><a href="/en/change">
                  <img src="//assets.theyachtweek.com/assets/public/img/base/flags/lang_en.png" width="16" height="11"/> &nbsp; English
                </a></li>
                <li><a href="/es/change"><img src="//assets.theyachtweek.com/assets/public/img/base/flags/flag_sp.png" width="16" height="11"/>&nbsp; Español</a></li>
                <li><a href="/pt/change"><img src="//assets.theyachtweek.com/assets/public/img/base/flags/lang_pt.png" width="16" height="11"/>&nbsp; Português</a></li>
                <li><a href="/de/change"><img src="//assets.theyachtweek.com/assets/public/img/base/flags/lang_de.png" width="16" height="11"/>&nbsp; Deutsch</a></li>
              </ul>
            </div>

          </div>
        </div>
        <div class="btn-group navbar-right visible-lg">
          <!--render(url('public_basket_widget'))-->
        </div>
      </div><!-- /.navbar-collapse -->
      <div class="clearfix"></div>
    </div><!-- /.container-fluid -->
  </nav>
</div>
  

    
    
  
  <!-- Home hero -->

  <div class="bg-movie">
  <div class="hidden-xs video">
    <video loop="loop" muted="muted" poster="//assets.theyachtweek.com/assets/public/img/base/homepage/home_poster.jpg">

      <source src="//cdn.theyachtweek.com/newvideo.mp4" type="video/mp4">
      <source src="//cdn.theyachtweek.com/newvideo.webm" type="video/webm">
    </video>
  </div>

  <div class="black-overlay">
    <div class="text-box">
      <div class="countdown">

        <h1 class="front-title">Live and Work Remotely</h1>
        <h2 class="front-subtitle">live one month at a time in select cities around the world<br/>
          </h2>
        <br>

      </div>
        <br/>
        <div class="row" style="max-width: 440px; margin: 0 auto;">
          <div class="col-md-6">
            <a class="btn btn-outline ga-event btn-block"  style="margin-bottom: 10px;" data-action="View video (Show me)" href="https://vimeo.com/111429360" rel="prettyPhoto" title="The Yacht Week - After Movie 2014"><i class="fa fa-youtube-play"></i> Watch our Trailer</a>
          </div>
          <div class="col-md-6">
            <a href="/destinations" class="btn btn-red btn-block" style="margin-bottom: 10px;">Explore Destinations</a>
          </div>
        </div>
        <div class="row" id="sign-up" style="background: none;" >
          <section class="col-md-12 tac mt10">
            <form action="//europeantravelventures.us10.list-manage.com/subscribe/post?u=ad686eab996df7b2abbfe743e&amp;id=e506c60a85" class="form-inline validate" id="mc-embedded-subscribe-form" method="post" name="mc-embedded-subscribe-form" novalidate="true" target="_blank">
              <div class="form-group">
                <label class="sign-up-title" for="signupEmail" style="color: #fff;">2017 pre-bookings:</label>
                <input class="form-control required email" id="signupEmail" name="EMAIL" placeholder="Your Email" type="email" style="display: inline-block;width: auto; margin-right: -5px; border: none;">
                <input class="btn btn-outline" id="mc-embedded-subscribe" name="subscribe" type="submit" value="Sign Up" style="padding-bottom: 5px;padding-top: 4px;">
                <input id="SOURCE" name="SOURCE" type="hidden" value="Website">
                <div class="response" id="mce-error-response" style="display:none"></div>
                <div class="response" id="mce-success-response" style="display:none"></div>
                <div style="position: absolute; left: -5000px;"><input name="b_ad686eab996df7b2abbfe743e_ec7d303ff1" tabindex="-1" type="text" value=""></div>
                <span class="signup-social hidden-sm hidden-xs"></span>
              </div>
            </form>
          </section>

        </div>
    </div>
  </div>

  <!-- Social links -->

  <span class="social-links hidden-xs">
    <a href="https://www.facebook.com/theyachtweek" target="_blank">
      <i class="fa fa-facebook"></i>
    </a>&nbsp;
    <a href="https://instagram.com/theyachtweek" target="_blank">
      <i class="fa fa-instagram"></i>
    </a>&nbsp;
    <a href="https://www.youtube.com/user/TheYachtWeek" target="_blank">
      <i class="fa fa-youtube"></i>
    </a>&nbsp;
    <a href="https://twitter.com/theyachtweek" target="_blank">
      <i class="fa fa-twitter"></i>
    </a>
  </span>

</div>

  <!-- Intro -->

  <div class="box-padding" id="what-is-tyw-widget">
  <div class="container">
  <div class="row text-center">
    <div class="col-md-12 mb20"><h2>What We Do?</h2></div>
    <div class="col-md-3 col-sm-6">
      <img width="263" height="211" class="img-responsive size-fix" src="//assets.theyachtweek.com/assets/public/img/base/homepage/what-is-1.png" />
      <p class="lead mt10 mb00"><strong>Rental Unit</strong></p>
      <p>and live on a yacht with friends. All are welcome—even if you've never sailed before.</p>
    </div>
    <div  class="col-md-3 col-sm-6">
      <img width="263" height="211" class="img-responsive size-fix" src="//assets.theyachtweek.com/assets/public/img/base/homepage/what-is-2.png" />
      <p class="lead mt10 mb00"><strong>Airport Pickup</strong></p>
      <p>different islands and hidden splendours for seven days on a set route.</p><br/>
    </div>
    <div  class="col-md-3 col-sm-6">
      <img width="263" height="211" class="img-responsive size-fix" src="//assets.theyachtweek.com/assets/public/img/base/homepage/what-is-3.png" />
      <p class="lead mt10 mb00"><strong>Local Immersion and Help</strong></p>
      <p>somewhere different everyday to live DJs playing in the sun throughout your week.</p>
    </div>
    <div class="col-md-3 col-sm-6">
      <img width="263" height="211" class="img-responsive size-fix" src="//assets.theyachtweek.com/assets/public/img/base/homepage/what-is-4.png" />
      <p class="lead mt10 mb00"><strong>Belong</strong></p>
      <p>to a growing community of international Yacht Weekers all following the same route.</p>
    </div>
  </div>
  </div>
</div>

  <!-- End intro -->

  <!-- Steps... 1,2,3! -->

  <section class="hidden-xs" id="home-steps">
  <div class="container-fluid full-width">
    <div class="row row-no-gutter">
      <div class="col-sm-4">
        <figure class="wrap text-center">
          <img width="580" height="580" class="size-fix" src="//assets.theyachtweek.com/assets/public/img/base/homepage/frontpage_1_discover.jpg"/>
          <figcaption>
            <div class="cover">
              <h2>1</h2>
              <h3>Pick your paradise</h3>
            </div>
            <div class="hover">
              <h3>Pick your paradise</h3>
              <p class="text-left">We have six stunning destinations to choose from… each hand picked for their endless sun, cultural diversity and serene seas.</p>
              <a href="/destinations"><i class="fa fa-map-marker"></i> Take your pick</a>
            </div>
          </figcaption>
        </figure>
      </div>
      <div class="col-sm-4">
        <figure class="wrap text-center">
          <img width="580" height="580" class="size-fix" src="//assets.theyachtweek.com/assets/public/img/base/homepage/frontpage_2_gather.jpg"/>
          <figcaption>
            <div class="cover">
              <h2>2</h2>
              <h3>Round up the troops</h3>
            </div>
            <div class="hover">
              <h3>Round up the troops</h3>
              <p class="text-left">Gather your gang of 6 - 12 and book your own yacht. Or simply screw the crew and go as two in a cabin. You can bring new mates into the mix with our Crew Finder.</p>
              <a href="/crew-finder"><i class="fa fa-info-circle"></i> Go to Crew Finder</a><br/>
              <a href="https://www.facebook.com/sharer/sharer.php?u=http%3A//www.theyachtweek.com/"><i class="fa fa-facebook-official"></i> Share on Facebook</a>
            </div>
          </figcaption>
        </figure>
      </div>
      <div class="col-sm-4">
        <figure class="wrap text-center">
          <img width="580" height="580" class="size-fix" src="//assets.theyachtweek.com/assets/public/img/base/homepage/frontpage_3_leap.jpg"/>
          <figcaption>
            <div class="cover">
              <h2>3</h2>
              <h3>Experience the Adventure</h3>
            </div>
            <div class="hover">
              <h3>Experience the Adventure</h3>
              <p class="text-left">Escape the everyday with old and new friends and experience this city from a local perspective.</p>
              <a href="/yachts"><img width="20" height="20" style="width: 20px;" src="//assets.theyachtweek.com/assets/public/img/base/icons/monohull_icon_white_20px.png"/> Check out our Yachts </a><br/>
              <a href="/cabins"><img width="20" height="20" style="width: 20px;" src="//assets.theyachtweek.com/assets/public/img/base/icons/cabins_icon_white_20px.png"/> Check out our Cabins</a>
            </div>
          </figcaption>
        </figure>
      </div>
    </div>
  </div>
</section>

<section class="visible-xs" id="home-steps-mobile">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="flexslider">
<ul class="slides">
  <li>
    <figure class="wrap text-center">
      <img width="580" height="580" class="size-fix" src="//assets.theyachtweek.com/assets/public/img/base/homepage/frontpage_1_discover.jpg"/>
      <figcaption>
        <div class="cover">
          <div class="center">
            <h2>1</h2>
            <h3>Pick your paradise</h3>
            <p >All our different destinations are hand picked for their serene seas, cultural diversity and endless sun.</p>
            <a href="/destinations"><i class="fa fa-map-marker"></i> Pick the place</a>
          </div>
        </div>
      </figcaption>
    </figure>
  </li>
  <li>
    <figure class="wrap text-center">
      <img width="580" height="580" class="size-fix" src="//assets.theyachtweek.com/assets/public/img/base/homepage/frontpage_2_gather.jpg"/>
      <figcaption>
        <div class="cover">
          <div class="center">
            <h2>2</h2>
            <h3>Round up the troops</h3>
            <p >Gather your gang of 6 - 12... bring new mates into the mix with our Crew Finder, or simply screw the crew and go in a cabin as two.</p>
            <a href="/crew-finder"><i class="fa fa-info-circle"></i> Go to Crew Finder</a>
          </div>
        </div>
      </figcaption>
    </figure>
  </li>
  <li>
    <figure class="wrap text-center">
      <img width="580" height="580" class="size-fix" src="//assets.theyachtweek.com/assets/public/img/base/homepage/frontpage_3_leap.jpg"/>
      <figcaption>
        <div class="cover">
          <div class="center">
            <h2>3</h2>
          <h3>Experience the Adventure</h3>
          <p >Escape the everyday with old and new friends and experience this city from a local perspective</p>
          <a href="/yachts"><img width="20" height="20" style="display: inline-block; width: 20px;" src="//assets.theyachtweek.com/assets/public/img/base/icons/monohull_icon_white_20px.png"/> Check out our Yachts</a><br/>
          <a href="/cabins"><img width="20" height="20" style="display: inline-block; width: 20px;" src="//assets.theyachtweek.com/assets/public/img/base/icons/cabins_icon_white_20px.png"/> Check out our Cabins</a>
          </div>
        </div>
      </figcaption>
    </figure>
  </li>
</ul>
</div>
      </div>
    </div>
  </div>
</section>

  <!-- End steps -->


  <!-- Explore Destinations -->
  <section class="box-padding" id="home-destinations">
  <div class="container">
  <div class="row">
  <div class="row">
    <div class="destination col-md-3 col-xs-6">
      <a href="/croatia">
        <figure>
          <img width="263" height="171" src="//assets.theyachtweek.com/assets/public/img/base/homepage/frontpage_destination_croatia.jpg">
          <figcaption>
            <h2>Cape Town</h2>
          </figcaption>
        </figure>
      </a>
    </div>
    <div class="destination col-md-3 col-xs-6">
      <a href="/greece">
        <figure>
          <img width="263" height="171" src="//assets.theyachtweek.com/assets/public/img/base/homepage/frontpage_destination_greece.jpg">
          <figcaption>
            <h2>Florianopolis</h2>
          </figcaption>
        </figure>
      </a>
    </div>
    <div class="destination col-md-3 col-xs-6">
      <a href="/italy">
        <figure>
          <img width="263" height="171" src="//assets.theyachtweek.com/assets/public/img/base/homepage/frontpage_destination_italy.jpg">
          <figcaption>
            <h2>Buenos Aires <br/><span style="font-size: 12px; color: #fff;  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);">Sold Out</span></h2>
          </figcaption>
        </figure>
      </a>
    </div>
    <div class="destination col-md-3 col-xs-6">
      <a href="/turkey">
        <figure>
          <img width="263" height="171" src="//assets.theyachtweek.com/assets/public/img/base/homepage/frontpage_destination_turkey.jpg">
          <figcaption>
            <h2>Santa Teresa <br/><span style="font-size: 12px; color: #fff;  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);">Sold Out</span></h2>
          </figcaption>
        </figure>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="destination col-md-3 col-xs-6">
      <a href="/british-virgin-islands">
        <figure>
          <img width="263" height="171" src="//assets.theyachtweek.com/assets/public/img/base/homepage/frontpage_destination_bvi.jpg">
          <figcaption>
            <h2>Barcelona <br/><span style="font-size: 12px; color: #fff;  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);">British Virgin Islands</span></h2>
          </figcaption>
        </figure>
      </a>
    </div>
    <div class="destination col-md-3 col-xs-6">
      <a href="/thailand">
        <figure>
          <img width="263" height="171" src="//assets.theyachtweek.com/assets/public/img/base/homepage/frontpage_destination_thailand.jpg">
          <figcaption>
            <h2>Budapest <br/><span style="font-size: 12px; color: #fff;  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);">
New Week Added</span></h2>
          </figcaption>
        </figure>
      </a>
    </div>
    <div class="destination col-md-3 col-xs-6">
      <a href="/ultra">
        <figure>
          <img width="263" height="171" src="//assets.theyachtweek.com/assets/public/img/base/homepage/frontpage_destination_ultra.jpg">
          <figcaption>
            <h2>Tallinn<br/><span style="font-size: 12px; color: #fff;  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);">Phase 1 Line Up Out</span>
            </h2>
          </figcaption>
        </figure>
      </a>
    </div>
    <div class="destination col-md-3 col-xs-6">
      <a href="http://theskiweek.com" target="_blank">
        <figure>
          <img width="263" height="171" src="//assets.theyachtweek.com/assets/public/img/base/homepage/frontpage_destination_theskiweek.jpg">
          <figcaption>
            <h2>The Local Week</h2>
          </figcaption>
        </figure>
      </a>
    </div>
  </div>
</div>
</section>
  <!-- End destinations -->

</body>

</html>
